* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   max-width: 800px;
   margin: 0 auto;
}

header {
   background-color: #d9533c;
   height: 70px;
   display: flex;
   align-items: center;
}

header ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   width: 100%;
}

header ul li a {
   text-decoration: none;
   color: white;
   font-size: 22px;
   transition: all .3s ease-in-out;
}

header ul li a:hover {
   color: #e4a494;
}

main {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 100px;
}

form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
}

input {
   padding: 10px 15px;
   font-size: 18px;
   width: 16rem;
   border: 3px solid #d9533c;
   outline: none;
}

button {
   font-size: 18px;
   padding: 8px;
   background-color: transparent;
   border: 1px solid #d9533c;
   color: #d9533c;
   transition: all .3s ease-in-out;
}

button:hover {
   background-color: #d9533c;
   color: white;
}

img {
   max-height: 18rem;
   height: 100%;
}

@media screen and (max-width: 480px) {
   main {
      flex-direction: column;
      gap: 25px;
      margin-top: 50px;
   }

   img {
      height: 50%;
   }
}
